@charset "utf-8";
.shoe {
    width: 1000px;
    margin: 0 auto 20px;
    .shoe_title {
        height: 43px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
    }
    .shoe_content {
        height: 1500px;
        background: blue;
    }
    .shoe_footer {
        height: 44px;
        background: brown;
        margin-bottom: 20px;
    }
}