    @charset "utf-8";
    .banner {
        @include wh( $h, 442px);
        background: url(http://a.vpimg2.com/upload/flow/2020/09/01/111/15989469429411.jpg) -45px -10px;
        position: relative;
        overflow: hidden;
        .wrap {
            margin: 35px 0px 0px 190px;
            @include wh( 966px, 412px);
            @include border(1px, solid, #eee);
        }
        .banner_ul {
            @include wh(1872px, 320px);
            position: absolute;
            top: 50px;
            left: 200px;
            >li {
                position: absolute;
                top: 0px;
                left: 0px;
            }
            .left {
                @include wh(50px, 70px);
                position: absolute;
                left: 20px;
                top: 120px;
                line-height: 70px;
                text-align: center;
                display: block;
                background: #eee;
                opacity: 0.7;
                color: #333;
                z-index: 333;
                display: none;
                .iconfont {
                    font-size: 28px;
                }
            }
            div:hover {
                background: #999;
                opacity: 0.8;
                color: #eee;
            }
            .right {
                @extend .left;
                position: absolute;
                left: 860px;
            }
        }
        li {
            list-style: none;
            @include wh(936px, 320px);
            @include display();
            flex-wrap: nowrap;
            img {
                @include wh(936px, 320px);
            }
        }
    }
    
    .banner_title {
        position: absolute;
        bottom: 30px;
        @include wh(966px, 40px);
        .banner_title_ul {
            @include wh($h, 40px);
            @include display();
        }
        li {
            list-style: none;
            @include wh(195px, 40px);
            font-size: $fs;
            overflow: hidden;
            // background-color: sandybrown;
            color: #333;
        }
        .style {
            color: #000;
            border-bottom: 3px solid $color;
        }
    }