@charset "utf-8";
@import "base";
.top_nav {
    font-size: $fs;
    background-color: $b;
    @include wh($h, 30px);
    color: #777;
    @include display();
    // display: flex;
    // justify-content: center;
    .wrap {
        @include wh( 1000px, $h);
        @include display(row, space-between, center);
        .area {
            @include display( row, space-between, center);
            width: 86px;
        }
        ul {
            height: $h;
            list-style: none;
            @include display(row-reverse, space-between, center);
            li {
                padding: 0 5px;
                .icon-lihe {
                    color: $color;
                }
            }
        }
    }
}