@charset "utf-8";
@import "base";
.woman {
    width: 1000px;
    margin: 0 auto 20px;
    .woman_title {
        height: 43px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
        @include display( row, space-between, center);
    }
    .woman_content {
        height: 150px;
        background: blue;
    }
    .woman_footer {
        height: 44px;
        background: brown;
        margin-bottom: 20px;
    }
}

.shoe {
    @extend .woman;
}

.man {
    @extend .woman;
}

.sport {
    @extend .woman;
}