ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header {
  height: 80px;
  border-bottom: 3px solid #f10180;
  margin-bottom: 30px;
}

header img {
  margin-left: 100px;
}

.bigwrap {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.bigwrap .wrap nav {
  background: #f4f4f4;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 38px;
  height: 38px;
  border-left: 3px solid #f10180;
  border-top: 1px solid #f0f0f0;
}

.bigwrap .wrap nav span {
  display: inline-block;
}

.bigwrap .wrap nav .s1 {
  width: 400px;
  color: #f10180;
}

.bigwrap .wrap nav .s2 {
  width: 200px;
}

.bigwrap .wrap nav .s3 {
  width: 180px;
}

.bigwrap .wrap nav .s4 {
  width: 110px;
}

.bigwrap .wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.bigwrap .wrap ul .cartli {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.bigwrap .wrap ul .cartli img {
  width: 100px;
  height: 100px;
}

.bigwrap .wrap ul .cartli .title {
  margin-left: 50px;
  width: 160px;
  line-height: 20px;
}

.bigwrap .wrap ul .cartli .danjia {
  width: 100px;
  margin-left: 87px;
}

.bigwrap .wrap ul .cartli .num {
  margin-left: 40px;
  width: 200px;
}

.bigwrap .wrap ul .cartli .num .num-box {
  width: 93px;
  position: relative;
  height: 28px;
  border: 1px solid #b3b3b3;
  text-align: center;
}

.bigwrap .wrap ul .cartli .num .num-box .jian, .bigwrap .wrap ul .cartli .num .num-box .jia {
  float: left;
  height: 28px;
  width: 29px;
  line-height: 28px;
  color: #7d7c7c;
  background-color: #f9f8f8;
  text-decoration: none;
}

.bigwrap .wrap ul .cartli .num .num-box .num {
  border: none;
  border-left: 1px solid #e4e3e3;
  border-right: 1px solid #e4e3e3;
  float: left;
  width: 29px;
  height: 26px;
  line-height: 28px;
  margin: 0;
}

.bigwrap .wrap ul .cartli .delete {
  margin-left: 40px;
}

.top {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #f10180;
}

.top span {
  line-height: 40px;
  display: inline-block;
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f10180;
}

footer {
  width: 100%;
  line-height: 50px;
  text-align: center;
  height: 50px;
  border: solid 1px #f0f0f0;
}
