* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.top_nav {
  font-size: 12px;
  background-color: #f5f5f5;
  width: 100%;
  height: 30px;
  color: #777;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top_nav .wrap {
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top_nav .wrap .area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 86px;
}

.top_nav .wrap ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.top_nav .wrap ul li {
  padding: 0 5px;
}

.top_nav .wrap ul li .icon-lihe {
  color: #f10180;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header {
  margin: 0 auto;
  width: 1000px;
  height: 100px;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 100%;
}

.header .title {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .title li {
  height: 100%;
  font-size: 15px;
  padding: 0 10px;
  color: #999;
  line-height: 100px;
}

.header .title li .iconfont {
  color: #f10180;
  font-size: 20px;
}

.header .search {
  width: 391px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .search .search_from {
  height: 32px;
  width: 100%;
  border: 2px solid #f10180;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .search .search_from input {
  height: 80%;
  width: 340px;
  border-style: none;
}

.header .search .search_from .button {
  background: #f10180;
  width: 53px;
  height: 100%;
  color: #fff;
  text-align: center;
}

.header .search .search_from .button .icon-sou {
  font-size: 25px;
}

.header .search .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 3px;
}

.header .search .list li {
  padding: 0 13px;
  border-left: 1px solid #999;
  font-size: 12px;
}

.header .search .list .first {
  border: none;
}

.header .cart {
  width: 96px;
  height: 32px;
  color: #333;
  border: 1px solid #aaa;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header .cart .num {
  width: 25px;
  height: 16px;
  border-radius: 8px;
  background-color: #f10180;
  color: #fff;
  text-align: center;
  line-height: 16px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation {
  margin: 0 auto;
  width: 1000px;
  height: 43px;
}

.navigation li {
  height: 100%;
  line-height: 43px;
  padding: 0 15px;
}

.navigation .sp, .navigation .sp ul {
  background: #f10180;
  color: #fff;
  position: relative;
}

.navigation .sp ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 0;
  top: 43px;
}

.navigation .first {
  color: #f10180;
}

.navigation .last {
  position: relative;
}

.navigation .last ul {
  background: #fff;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 0;
  top: 43px;
}

.banner {
  width: 100%;
  height: 442px;
  background: url(http://a.vpimg2.com/upload/flow/2020/09/01/111/15989469429411.jpg) -45px -10px;
  position: relative;
  overflow: hidden;
}

.banner .wrap {
  margin: 35px 0px 0px 190px;
  width: 966px;
  height: 412px;
  border: 1px solid #eee;
}

.banner .banner_ul {
  width: 1872px;
  height: 320px;
  position: absolute;
  top: 50px;
  left: 200px;
}

.banner li {
  list-style: none;
  width: 936px;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.banner li img {
  width: 936px;
  height: 320px;
}

.banner li .img2 {
  display: none;
}

.banner_title {
  position: absolute;
  bottom: 30px;
  width: 966px;
  height: 40px;
}

.banner_title .banner_title_ul {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner_title li {
  list-style: none;
  width: 195px;
  height: 40px;
  font-size: 12px;
  overflow: hidden;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.must_see {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.must_see .title {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  background: url(http://a.vpimg2.com/upload/flow/2018/08/17/154/15344789862278.jpg);
  background-size: 100% 100%;
}

.must_see .m_wrap {
  display: flex;
  flex-direction: row;
}

.must_see .m_wrap .snap_up {
  width: 510px;
  height: 300px;
  background: url(https://h2.appsimg.com/b.appsimg.com/upload/momin/2020/09/02/77/1599038966107_1020x580_90.png);
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}

.must_see .m_wrap .snap_up ul {
  height: 280px;
  position: absolute;
  left: 10px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.must_see .m_wrap .snap_up ul li {
  width: 147px;
  height: 210px;
  margin-right: 10px;
}

.must_see .m_wrap .snap_up ul li div {
  width: 100%;
  height: 186px;
  z-index: 0;
  position: relative;
}

.must_see .m_wrap .snap_up ul li div img {
  width: 100%;
  height: 100%;
}

.must_see .m_wrap .snap_up ul li div article {
  position: absolute;
  bottom: 20px;
  left: 21px;
  z-index: 1;
  width: 105px;
  height: 64px;
  background: #fff;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.must_see .m_wrap .snap_up ul li div article img {
  margin-top: 5px;
  z-index: 2;
  width: 66px;
  height: 33px;
}

.must_see .m_wrap .snap_up ul li div article span {
  z-index: 2;
  width: 104px;
  height: 18px;
  text-align: center;
  font-size: 12px;
}

.must_see .m_wrap .snap_up ul li aside {
  z-index: 1;
  width: 100%;
  height: 20px;
  text-align: center;
}

.must_see .m_wrap .snap_up ul li aside span {
  color: #fff;
  background: #f10180;
  padding: 2px;
  font-size: 12px;
  border-radius: 6px;
}

.must_see .m_wrap .ranking_list {
  width: 490px;
  height: 300px;
  background: url(http://h2.appsimg.com/b.appsimg.com/upload/momin/2020/09/03/81/1599118580733_980x580_90.png);
  background-size: 100% 100%;
  position: relative;
}

.must_see .m_wrap .ranking_list ul {
  height: 280px;
  position: absolute;
  left: 10px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.must_see .m_wrap .ranking_list ul li {
  width: 147px;
  height: 210px;
  margin-right: 10px;
  background: #eee;
}

.must_see .m_wrap .ranking_list ul li div {
  width: 100%;
  height: 186px;
  z-index: 0;
  position: relative;
}

.must_see .m_wrap .ranking_list ul li div img {
  width: 100%;
  height: 100%;
}

.must_see .m_wrap .ranking_list ul li div span {
  position: absolute;
  bottom: 10px;
  left: 21px;
  z-index: 2;
  width: 104px;
  height: 18px;
}

.must_see .m_wrap .ranking_list ul li aside {
  z-index: 1;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 12px;
  position: relative;
}

.must_see .m_wrap .ranking_list ul li aside span {
  color: #fff;
  background: #f10180;
  padding: 2px;
  position: absolute;
  right: 10px;
}

.must_see .low_price {
  width: 1000px;
  height: 298px;
  background: url(http://h2.appsimg.com/b.appsimg.com/upload/momin/2020/09/18/152/1600421099298_2000x596_90.png);
  background-size: 100% 100%;
  position: relative;
}

.must_see .low_price ul {
  height: 250px;
  position: absolute;
  left: 10px;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 10px;
}

.must_see .low_price ul li {
  width: 147px;
  height: 210px;
  margin-right: 10px;
}

.must_see .low_price ul li aside {
  z-index: 1;
  width: 100%;
  height: 20px;
  text-align: center;
}

.must_see .low_price ul li aside span {
  color: #fff;
  background: #f10180;
  padding: 2px;
  font-size: 12px;
  border-radius: 6px;
}

.must_see .low_price ul div {
  width: 100%;
  height: 186px;
  z-index: 0;
  position: relative;
}

.must_see .low_price ul div img {
  width: 145px;
  height: 145px;
}

.must_see .low_price ul div article {
  position: absolute;
  bottom: 20px;
  left: 21px;
  z-index: 1;
  width: 105px;
  height: 64px;
  background: #fff;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.must_see .low_price ul div article img {
  margin-top: 5px;
  z-index: 2;
  width: 68px;
  height: 35px;
}

.update {
  margin: 0 auto;
  width: 1000px;
  margin-top: 30px;
  height: 68px;
  background: url(http://a.vpimg4.com/upload/dop/2019/05/23/58/today_DDp.png);
  background-size: 100% 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.woman, .shoe, .man, .sport {
  width: 1000px;
  margin: 0 auto 20px;
}

.woman .woman_title, .shoe .woman_title, .man .woman_title, .sport .woman_title {
  height: 43px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.woman .woman_content, .shoe .woman_content, .man .woman_content, .sport .woman_content {
  height: 150px;
  background: blue;
}

.woman .woman_footer, .shoe .woman_footer, .man .woman_footer, .sport .woman_footer {
  width: 324px;
  height: 44px;
  background: #f10180;
  color: #fff;
  margin: 0 auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: -1px auto 20px;
  text-align: center;
  line-height: 44px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  width: 100%;
  height: 496px;
  border-top: 1px solid #eee;
}

.footer .footer_content {
  margin: 0 auto;
  width: 1000px;
  height: 447px;
  padding: 30px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer_content .wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
  align-items: center;
}

.footer .footer_content .wrap .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  padding-left: 20px;
  border-right: 1px solid #eee;
}

.footer .footer_content .wrap .list ul {
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  width: 137px;
  height: 146px;
  list-style: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .footer_content .wrap .list ul li {
  margin-top: 4px;
  text-indent: 10px;
}

.footer .footer_content .wrap .erweima {
  width: 137px;
  height: 166px;
  margin: 0;
  padding-left: 10px;
}

.footer .footer_footer {
  height: 48px;
  background: chocolate;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sidebar {
  width: 30px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #000;
  color: #fff;
  font-size: 14px;
}

.sidebar .iconfont {
  font-size: 26px;
}

.sidebar .icon-youhuiquan,
.sidebar .icon-lishijilu {
  font-size: 20px;
}

.sidebar ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar ul li {
  margin: 10px 0;
  text-align: center;
  margin-top: 5px;
}

.sidebar ul .cart {
  padding: 10px 0;
  background: #f10180;
}

.sidebar p {
  font-size: 35px;
  margin-top: 50px;
}

.louti {
  list-style: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 78px;
  height: 370px;
  position: fixed;
  left: 50px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
}

.louti li {
  text-align: center;
  line-height: 31px;
  border-radius: 5px;
  width: 70px;
  height: 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.newimg, .new {
  display: inline-block;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newimg img, .new img {
  width: 1000px;
}

.new {
  width: 1000px;
  margin: 0 auto;
}

.new img {
  display: inline-block;
  padding: 0 8px 8px 0;
  width: 328px;
}
